In [10]:
# Majority of the time I was following along to the tutorial, I was writing over my work in the same cell so I have a minimal
# record. But some of the things covered in tutorial were df.columns, df['column_name'], df['column_name'][0:5], df.head, df.iloc,
# df.describe, adding, deleting, renaming columns, filtering data based on conditions, using regex, aggregating data using groupby
# I use and display this and more knowledge in my Aim Lab project

import pandas as pd
import re

df = pd.read_csv("pokemon_data.csv")

with pd.option_context("display.max_rows", None, "display.max_columns", None):
    print(df.head(15))
    print(df.columns)

     #                       Name Type 1  Type 2  HP  Attack  Defense
0    1                  Bulbasaur  Grass  Poison  45      49       49  \
1    2                    Ivysaur  Grass  Poison  60      62       63
2    3                   Venusaur  Grass  Poison  80      82       83
3    3      VenusaurMega Venusaur  Grass  Poison  80     100      123
4    4                 Charmander   Fire     NaN  39      52       43
5    5                 Charmeleon   Fire     NaN  58      64       58
6    6                  Charizard   Fire  Flying  78      84       78
7    6  CharizardMega Charizard X   Fire  Dragon  78     130      111
8    6  CharizardMega Charizard Y   Fire  Flying  78     104       78
9    7                   Squirtle  Water     NaN  44      48       65
10   8                  Wartortle  Water     NaN  59      63       80
11   9                  Blastoise  Water     NaN  79      83      100
12   9    BlastoiseMega Blastoise  Water     NaN  79     103      120
13  10                   Caterpie    Bug     NaN  45      30       35
14  11                    Metapod    Bug     NaN  50      20       55

    Sp. Atk  Sp. Def  Speed  Generation  Legendary
0        65       65     45           1      False
1        80       80     60           1      False
2       100      100     80           1      False
3       122      120     80           1      False
4        60       50     65           1      False
5        80       65     80           1      False
6       109       85    100           1      False
7       130       85    100           1      False
8       159      115    100           1      False
9        50       64     43           1      False
10       65       80     58           1      False
11       85      105     78           1      False
12      135      115     78           1      False
13       20       20     45           1      False
14       25       25     30           1      False
Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [8]:
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv("modified.csv", chunksize=5):
    results = df.groupby(["Type 1"]).count()
    
    new_df = pd.concat([new_df, results])
    
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1.0
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4.0
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4.0
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1.0
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Fairy,1,1,NaN,0,1,1,1,1,1,1,1,1,1.0
Flying,2,2,NaN,2,2,2,2,2,2,2,2,2,2.0
Fire,1,1,NaN,1,1,1,1,1,1,1,1,1,1.0
Psychic,2,2,NaN,2,2,2,2,2,2,2,2,2,2.0
Rock,2,2,NaN,2,2,2,2,2,2,2,2,2,2.0